<h1>Questions</h1>
<%= link_to "New Assertion", new_assertion_path %>
<% if @assertions.empty? %>
    There are currently no assertions.
<% else %>
    <table id='assertions'>
      <thead>
        <tr> <td>Subject</td> </tr>
      </thead>
      <tbody>
      <% @assertions.each do |assertion| %>
          <tr> <td id='assertion_assertion'><%= link_to assertion.assertion, assertion %></td> </tr>
      <% end %>
      </tbody>
    </table>
<% end %>